body{
  --theme:#DF0134;
  --theme-default: #33292b;
  --theme-red:#ED1A4B;
}
/*变向*/
.to-bottom {
  transform: rotate(90deg);
}

.to-top {
  transform: rotate(-90deg);
}

.to-left {
  transform: rotate(-180deg);
}

html {
  height: 100%;
}

/* 公共样式start */

em {
  font-style: normal;
}
/*文字溢出的样式*/
.to-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.to-line2 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.to-line3 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.to-line4 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* display flex 样式 */
.df {
  display: -webkit-flex;
  /* display: box; */
  display: -webkit-box;
  display: flex;
}
.flex {
  flex: 1;
  -webkit-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
}
.jct {
  justify-content: center;
  -webkit-justify-content: center;
  box-pack: center;
  -webkit-box-pack: center;
}
.jct-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  /* box-start: start; */
  -webkit-box-pack: start;
}
.jct-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  /* box-start: end; */
  -webkit-box-pack: end;
}
.jct-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  box-pack: jusity;
}
.jct-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.ais {
  align-items: center;
  -webkit-align-items: center;
  box-align: center;
  -webkit-box-align: center;
}
.ais-start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  box-align: start;
  -webkit-box-align: start;
}
.ais-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  box-align: end;
  -webkit-box-align: end;
}
.fdc {
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.dfc {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  box-pack: center;
  -webkit-box-pack: center;
  align-items: center;
  -webkit-align-items: center;
  box-align: center;
  -webkit-box-align: center;
}
.dfa {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    box-pack: jusity;
    align-items: center;
    -webkit-align-items: center;
    box-align: center;
    -webkit-box-align: center;
  }
.fw {
  flex-wrap: wrap;
}
.dfb {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  box-pack: jusity;
  align-items: center;
  -webkit-align-items: center;
  box-align: center;
  -webkit-box-align: center;
}
.dfs{
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  box-align: center;
  -webkit-box-align: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
}
.borR4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动代码*/
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}

.dp_n {
  display: none;
}
.mgb2 {
  margin-bottom: 0.2rem;
}
.bgw {
  background: #fff;
}
/*公共*/
.container{
  width: 100vw;
  box-sizing: border-box;
  background: #fff;
}
.container_box{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: scroll;
}
// 颜色
.theme{
  color: #DF0134;
}
.cf{
  color: #fff;
}
.c_33292B{
  color: #33292B;
}
.c_999{
  color: #999;
}
.c_666{
  color: #666;
}
.c_333{
  color: #333;
}
.c_1A1A1A{
  color: #1A1A1A;
}
.c_2C2521{
  color: #2C2521;
}
// 字体大小
.tc{
  text-align: center;
}
.tl{
  text-align: left;
}
.tr{
  text-align: right;
}
.b{
  font-weight: bold;
}
.fs18{
  font-size: 18px;
}
.fs20{
  font-size: 20px;
}
.fs24{
  font-size: 24px;
}
.fs26{
  font-size: 26px;
}
.fs28{
  font-size: 28px;
}
.fs30{
  font-size: 30px;
}
.fs32{
  font-size: 32px;
}
.fs34{
  font-size: 34px;
}
.fs36{
  font-size: 36px;
}
.fs40{
  font-size: 40px;
}
// 图片大小
.img14{
  width: 14px;
  height: 14px;
}
.img24{
  width: 24px;
  height: 24px;
}
.img26{
  width: 26px;
  height: 26px;
}
.img28{
  width: 28px;
  height: 28px;
}
.img30{
  width: 30px;
  height: 30px;
}
.img32{
  width: 32px;
  height: 32px;
}
.img36{
  width: 36px;
  height: 36px;
}
.img40{
  width: 40px;
  height: 40px;
}
.img44{
  width: 44px;
  height: 44px;
}
.img46{
  width: 46px;
  height: 46px;
}
.img50{
  width: 50px;
  height: 50px;
}
.img52{
  width: 52px;
  height: 52px;
}
.img60{
  width: 60px;
  height: 60px;
}
.img160{
  width: 160px;
  height: 160px;
}
// 背景颜色
.bg_theme{
  background-color: #DF0134;
}
.bg_F7F5F6{
  background-color: #F7F5F6;
}
.bg_FFF{
  background-color: #FFF;
}
.bg_FF9000{
  background: #FF9000;
}
// 外边距
.ml20{
  margin-left: 20px;
}
.mgr6{
  margin-right: 6px;
}
.mgr20{
  margin-right: 20px;
}
.mgb20{
  margin-bottom: 20px;
}
.op5{
  opacity: .5;
}
//按钮
.btn_red{
  width: 570px;
  height: 98px;
  background: var(--theme);
  color: #fff;
  border-radius: 49px;
  font-size: 32px;
  line-height: 98px;
  text-align: center;
  margin: 0 auto;
}
.bg_F5F5F5{
  background-color: #F5F5F5;
}
.bg_E6E6E6{
  background-color: #E6E6E6;
}
// 内边距
.pd30{
  padding: 0 30px;
}
.pdt20{
  padding-top: 20px;
}
.pdl20{
  padding-left: 20px;
}
.pdr20{
  padding-right: 20px;
}
.pdt10{
  padding-top: 10px;
}
.h100{
  height: 100%;
}
.lh15{
  line-height: 1.5;
}
.lh2{
  line-height: 2;
}
.van-picker-column__item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;;
}
